<ion-content>
  <ion-tabs>

    <app-player></app-player>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="music">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Musik</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Suche</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="library">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Bibliothek</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings & Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
