
<ion-content padding>

  <ion-list *ngIf="files.length">
    <ng-container *ngFor="let file of files; let i = index">
      <ion-item text-wrap (click)="openFile(file, i)">
        <p item-end *ngIf="playlistService.current?.url === file.url">SELECTED</p>
        <ion-icon item-end name="play" *ngIf="playlistService.current?.url !== file.url"></ion-icon>
        <ion-icon color="primary" item-start name="musical-note"></ion-icon>{{ file.title }}

      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
